@model Sitecore.Feature.EPTab.Model.EpTabGdprModel
<h3>Visitor Info</h3>
<div>The ID is @Model.ContactId</div>
<div>Last Modified @Model.LastModified</div>
<div><a href="/api/Gdpr/@Model.ContactId">GetData</a></div>